<%= form_with(model: equipment) do |form| %>
  <% if equipment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
        <% equipment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :reservation_id, style: "display: block" %>
    <%= form.number_field :reservation_id %>
  </div>

  <div>
    <%= form.label :shoe_id, style: "display: block" %>
    <%= form.number_field :shoe_id %>
  </div>

  <div>
    <%= form.label :bowling_ball_id, style: "display: block" %>
    <%= form.number_field :bowling_ball_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
