<div id="<%= dom_id reservation %>">
  <p>
    <strong>Profile:</strong>
    <%= reservation.profile_id %>
  </p>

  <p>
    <strong>Quipment:</strong>
    <%= reservation.quipment_id %>
  </p>

  <p>
    <strong>Track:</strong>
    <%= reservation.track_id %>
  </p>

  <p>
    <strong>Reservation date:</strong>
    <%= reservation.reservation_date %>
  </p>

  <p>
    <strong>Nb of people:</strong>
    <%= reservation.nb_of_people %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= reservation.price %>
  </p>

</div>
