<div id="<%= dom_id role %>">
  <p>
    <strong>Login:</strong>
    <%= role.login %>
  </p>

  <p>
    <strong>Is admin:</strong>
    <%= role.is_admin %>
  </p>

  <p>
    <strong>Is worker:</strong>
    <%= role.is_worker %>
  </p>

  <p>
    <strong>Is client:</strong>
    <%= role.is_client %>
  </p>

</div>
